@model ListOfBook
@{
    Layout = "~/Views/Shared/_LayoutNavbarFooter.cshtml";
    ViewBag.Title = "Profile";
    //var imgBook = "/ImagePage/" + (string.IsNullOrEmpty(Model.book.photoPath) ? "images.png" : Model.book.photoPath);

}
<div class="librarys pt-5 pb-5">
    <div class="container pt-5 pb-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Categorie</th>
                    <th scope="col">Author</th>
                    <th scope="col">Price</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var books in Model.Books)
                    {
                    var imgs = "/ImageBook/" + (string.IsNullOrEmpty(books.photoPath) ? "images.png" : books.photoPath);
                    if (books.AppUserId % 2 == 1)
                        {
                        <tr class="librarybook table-light">
                            <th scope="row"><p>@books.AppUserId</p> </th>
                            <td><img src="@imgs" alt="Alternate Text" style="width:50px;height:50px" /></td>
                            <td><p>@books.Title</p></td>
                            <td><p>@books.KindOfBooks</p></td>
                            <td><p>@books.author</p></td>
                            <td><p>@books.Price</p></td>
                            <td> <a class="btn" asp-controller="Home" asp-action="UpdateBook" asp-route-id="@books.Id">Edit</a></td>
                            <td><a class="btn " asp-controller="Home" asp-action="DeleteBook" asp-route-id="@books.Id" asp-route-name="@User.Identity.Name">Delete</a></td>
                        </tr>
                        }
                    else
                        {
                        <tr class="librarybook table-secondary">
                            <th scope="row"><p>@books.AppUserId</p> </th>
                            <td><img src="@imgs" alt="Alternate Text" style="width:50px;height:50px" /></td>
                            <td><p>@books.Title</p></td>
                            <td><p>@books.KindOfBooks</p></td>
                            <td><p>@books.author</p></td>
                            <td><p>@books.Price</p></td>
                            <td> <a class="btn" asp-controller="Home" asp-action="UpdateBook" asp-route-id="@books.Id">Edit</a></td>
                            <td><a class="btn " asp-controller="Home" asp-action="DeleteBook" asp-route-id="@books.Id" asp-route-name="@User.Identity.Name">Delete</a></td>
                        </tr>
                        }
                    }
            </tbody>
        </table>
    </div>
</div>