@model ListOfBook
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* start landing *@
<div class="landing">
    <div class="splide" id="carousel1" role="group" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
            <div class="splide__list">
                <div class="splide__slide d-flex justify-content-center align-items-center">
                    <div class="silde d-flex align-items-center">
                        <div class="landingInfo  mb-2">
                            <h1>WELCOME TO KitaB</h1>
                            <h1>Online Library</h1>
                            <p>
                                Enjoy reading books from our amazing library that contains hundreds of books
                            </p>
                            <a class="btn Btnborder" href="#">Go Library</a>
                        </div>
                        <div class="landingimg imgLanding">
                            <img src="~/ImagePage/landing.png" asp-append-version="true"/>
                        </div>
                    </div>
                </div>
                <div class="splide__slide d-flex justify-content-center align-items-center">
                    <div class="silde d-flex  align-items-center">
                        <div class="landingInfo  mb-2">
                            <h1>Digital</h1>
                            <h1>Book Store</h1>
                            <p>With KitaB, you can buy books or sell books you have written. Our website features a book borrow service</p>
                            <a class="btn Btnborder" asp-controller="Home" asp-action="Store">GET Started</a>
                        </div>
                        <div class="landingimg imgLanding">
                            <img src="~/ImagePage/17987-removebg-preview (1).png" />
                        </div>
                    </div>
                </div>
                <div class="splide__slide d-flex justify-content-center align-items-center">
                    <div class="silde d-flex align-items-center">
                        <div class="landingInfo mb-2">
                            <h1>Time to Read</h1>
                            <h3>
                                How to Determine a Reading Schedule
                            </h3>
                            <p>You can organize your reading time by signing a schedule. Our website provides this service. We send you an alert message to remind you of the exact date.</p>
                            <a class="btn Btnborder" href="#">Schedule Now</a>

                        </div>
                        <div class="landingimg imgLanding">
                            <img src="~/ImagePage/2012.i602.006_online_library_flat-removebg-preview (1).png" asp-append-version="true"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* end landing *@

@* start services *@
<div class="Services pt-3 pb-3">
    <div class="container">
        <div class="listServices">
            <div class="ServiceBox d-flex justify-content-start align-items-center flex-column">
                <div class="ServiceIcon">
                    <i class="fa-solid fa-book "></i>
                </div>
                <div class="ServiceInfo text-center">
                    <h5>READ BOOKS ONLINE</h5>
                    <p>OVER MILLIONS OF BOOKS</p>
                </div>
            </div>
            <div class="ServiceBox  d-flex justify-content-start align-items-center flex-column">
                <div class="ServiceIcon">
                    <i class="fa-solid fa-truck"></i>
                </div>
                <div class="ServiceInfo text-center">
                    <h5>FAST DELIVERY</h5>
                    <p>transported him anywhere between 24 to 72 hours</p>
                </div>
            </div>
            <div class="ServiceBox  d-flex justify-content-start align-items-center flex-column">
                <div class="ServiceIcon ">
                    <i class="fa-solid fa-bag-shopping"></i>
                </div>
                <div class="ServiceInfo text-center">
                    <h5>Shopping</h5>
                    <p>You can buy or Sell Book and <a asp-controller="home" asp-action="Store" class="Shopping">more</a></p>
                </div>
            </div>
            <div class="ServiceBox  d-flex justify-content-start align-items-center flex-column">
                <div class="ServiceIcon">
                    <i class="fa-solid fa-calendar-days"></i>
                </div>
                <div class="ServiceInfo text-center">
                    <h5>Time To Read</h5>
                    <p>Set the Best Schedule Time To Read</p>
                </div>
            </div>
        </div>
    </div>
</div>
@* end services *@

@* start best Seller *@
<div class="bestSeller pt-5 pb-5">
    <div class="container">
        <div class="boxLatestInfo d-flex justify-content-center align-items-center flex-column">
            <span class="fw-bold">BEST SELLER</span>
            <h1 class="headerSection">
                Featured Product
            </h1>
            <p class="text-center ">We present to you a group that contains the best-selling and most requested books in the world</p>
        </div>
        <div class="splide" id="carousel3" role="group" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
                <ul class="splide__list">

                    @{
                        int Count = 0;
                        foreach (var best in Model.Books)
                            {
                            var imgBook = "/ImagePage/" + (string.IsNullOrEmpty(best.photoPath) ? "images.png" : best.photoPath);
                            if (Count < 5)
                                {
                                <li class="mt-3 splide__slide d-flex justify-content-center align-items-center">
                                    <div class="bestImg d-flex justify-content-center align-items-center">
                                        <img src="@imgBook" alt="Alternate Text" asp-append-version="true"/>
                                    </div>
                                    <div class="bestInfo d-flex justify-content-between flex-column gap-3">
                                        <h1>@best.Title</h1>
                                        <div class="author_kind d-flex gap-4">
                                            <h6>@best.author</h6>
                                            <h6>@best.KindOfBooks.ToString().Replace("_"," ")</h6>
                                        </div>
                                        <p>
                                            @best.Description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris

                                        </p>
                                        <p class="d-flex align-items-center gap-4"><span class="discount">$@best.discount</span><span class="Price text-decoration-line-through">$@best.Price</span></p>
                                        <div class="btnBest d-flex gap-3">
                                            <a href="#" class="btn p-2 "><i class="fa-solid fa-cart-shopping"></i> Buy Now</a>
                                            <a href="#" class="btn p-2 shopping detailsColor">See Details</a>
                                        </div>
                                    </div>
                                </li>
                                Count++;
                                }
                            }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
@* end best seller *@


@* start about *@
<div class="about  pt-5 pb-5">
    <div class="container pt-3 pb-3">
        <div class="aboutBox">
            <div class="about1">
                <img src="~/ImagePage/about1.jpg" asp-append-version="true"/>
                <h6 class="d-flex flex-column">
                    <span class="numbersAbout"> 50+ </span>
                    <span> Years of Experience</span>
                </h6>
            </div>
            <div class="about2 d-flex justify-content-between flex-column">
                <img src="~/ImagePage/about2.jpg" asp-append-version="true"/>
                <div class="about2Point d-flex flex-column gap-2 mt-5">
                    <span><i class="fa-solid fa-check"></i> Action & Adventure</span>
                    <span><i class="fa-solid fa-check"></i> Science Fiction</span>
                    <span><i class="fa-solid fa-check"></i> Graphic Novel</span>
                    <span><i class="fa-solid fa-check"></i> Romance</span>
                </div>
            </div>
            <div class="about3">

                <div class="about2Info d-flex justify-content-between align-items-start gap-2 flex-column">
                    <h2>
                        KitaB Is Best Choice For Learners
                    </h2>
                    <p>KitaB offers you high quality products. We are distinguished by honesty. Our library contains many famous books. You can communicate with us or inquire through...</p>
                    <a href="#" class="btn p-2 width150">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
@* end about *@

@* start Latest books *@
<div class="LatestBooks pb-5 pt-5">
    <div class="container">
        <div class="boxLatest d-flex justify-content-center align-items-center flex-column">
            <div class="boxLatestInfo d-flex justify-content-center align-items-center flex-column">
                <span class="fw-bold">READ NEW</span>
                <h1 class="headerSection">New Arrivals</h1>
                <p class="text-center ">Our website is characterized by always downloading the latest books for you.<br /> We offer you a collection of the latest book releases or the latest books that have been authored and uploaded to our website.</p>
            </div>
            <div class="splide" id="carousel2" role="group" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                    <ul class="splide__list w-100">
                        @foreach (var newBook in Model.Books)
                            {
                            if (newBook.Created.Year == DateTime.Now.Year)
                                {
                                var imgBook = "/ImagePage/" + (string.IsNullOrEmpty(newBook.photoPath) ? "images.png" : newBook.photoPath);
                                <li class="splide__slide m-2">
                                    <div class="BookImg d-flex justify-content-center align-items-center flex-column">
                                        <img src="@imgBook" asp-append-version="true" class="card-img-top" alt="Alternate Text" style="max-height:225px;max-width:225px" />
                                    </div>
                                    <div class="BookInfo card-body d-flex justify-content-center align-items-center flex-column">
                                        <h2 class="card-title">@newBook.Title</h2>
                                        <h5 class="fw-bold card-price">$ @newBook.Price</h5>
                                        <a href="#" class="btn p-2 shopping"><i class="fa-solid fa-cart-shopping"></i> Add To Cart</a>
                                    </div>
                                </li>
                                }

                            }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@* end Latest books *@

@*start  our mission *@
<div class="ourMission pt-5 pb-5">
    <div class="container">
        <div class="boxLatestInfo d-flex justify-content-center align-items-center flex-column mb-3">
            <span class="fw-bold">ABOUT US</span>
            <h1 class="headerSection">
                Our Mission
            </h1>
            <p class="text-center ">KitaB offers you high quality products. We are distinguished by honesty.<br /> Our library contains many famous books. You can communicate with us or inquire through...</p>
        </div>
        <div class="ourMissionBox d-flex justify-content-evenly align-items-center">
            <div class="card">
                <div class="card-body d-flex justify-content-between  flex-column gap-2">
                    <i class="fa-solid fa-book-bookmark iconMission"></i>
                    <h5 class="card-title">
                        Best Bookstore
                    </h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a asp-controller="home" asp-action="aboutus"  class="Btn">Learn More <i class="fa-solid fa-angles-right"></i></a>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex justify-content-between  flex-column gap-2">
                    <i class="fa-solid fa-check-double iconMission"></i>
                    <h5 class="card-title">
                        Trusted Seller
                    </h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a asp-controller="home" asp-action="aboutus"  class="Btn">Learn More <i class="fa-solid fa-angles-right"></i></a>
                </div>
            </div>
            <div class="card">
                <div class="card-body d-flex justify-content-between  flex-column gap-2">
                    <i class="fa-regular fa-calendar iconMission"></i>
                    <h5 class="card-title">
                        Schedule
                    </h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a asp-controller="home" asp-action="aboutus"  class="Btn">Learn More <i class="fa-solid fa-angles-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
@*end  our mission *@

@* start kindOfBooks *@
<div class="KindOfBooks pt-5 pb-5">
    <div class="container pt-5 pb-5">
        <div class="boxLatestInfo d-flex justify-content-center align-items-center flex-column mb-4">
            <span class="fw-bold">BOOKS CATEGORY</span>
            <h1 class="headerSection">
                Literary Genres / books
            </h1>
            <p class="text-center ">Enjoy the best types, the most famous of which we offer you an impressive collection of distinctive books.<br />You only have to choose from any  category and book and enjoy your time</p>
        </div>
        <div class="row BoxKindOfBooks gap-5">
            @{
                var sizeKinds = Enum.GetValues(typeof(KindOfBooks)).Length;
                int count = 0;
                foreach (var kindsbook in Enum.GetValues(typeof(KindOfBooks)))
                    {
                    if (count < sizeKinds)
                        {
                        var img = "i" + (count++) + ".jpg";
                        <div class="card p-0 col-lg-4 col-md-6 col-sm-12" style="width: 18rem;">
                            <img src="~/ImagePage/@img" class="card-img-top" alt="..." style="height: 16rem; width: 18rem;" asp-append-version="true">
                            <div class="card-body">
                                <h5 class="card-title">@kindsbook.ToString().Replace("_", " ")</h5>
                                <a  asp-controller="Home" asp-action="BooksKind" asp-route-id="@kindsbook" class="btn">More <i class="fa-solid fa-angles-right fa-beat"></i></a>
                            </div>
                        </div>
                        }
                    }
            }
        </div>
    </div>
</div>
@* end kindOfBooks *@

@* start Customer *@
<div class="Customer">
    <div class="container">
        <div class="boxLatestInfo d-flex justify-content-center align-items-center flex-column mb-4">
            <span class="fw-bold">CUSTOMER FEEDBACK</span>
            <h1 class="headerSection">
                What Customer’s Said
            </h1>
            <p class="text-center ">You can provide us with your experience while using the site and tell us if you encounter problems during use. We care about all your comments</p>
        </div>
        <div class="BoxCustomer">

        </div>
    </div>
</div>
@* end Customer *@


@* start CountNumbes  *@
<div class="CountNumber pt-5 pb-5" id="CountNumbers">
    <div class="container">
        <div class="row ">
            <div class="countN col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center align-items-center flex-column mt-3 mb-3">
                <div class="CountNumberIcon">
                    <i class="fa-solid fa-users"></i>
                </div>
                <h4 class="numbers" data-numbers="1203"></h4>
                <span>
                    Happy Customers
                </span>
            </div>
            <div class="countN col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center align-items-center flex-column mt-3 mb-3">
                <div class="CountNumberIcon">
                    <i class="fa-solid fa-book"></i>
                </div>
                <h4 class="numbers" data-numbers="200"></h4>
                <span>
                    Book Collections
                </span>
            </div>
            <div class="countN col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center align-items-center flex-column mt-3 mb-3">
                <div class="CountNumberIcon">
                    <i class="fa-solid fa-store"></i>
                </div>
                <h4 class="numbers" data-numbers="1002"></h4>
                <span>
                    Our Stores
                </span>
            </div>
            <div class="countN col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center align-items-center flex-column mt-3 mb-3">
                <div class="CountNumberIcon">
                    <i class="fa-solid fa-leaf"></i>
                </div>
                <h4 class="numbers" data-numbers="400"></h4>
                <span>
                    Famous Writers
                </span>
            </div>
        </div>
    </div>
</div>
@* end CountNumber  *@


@* start Delivery *@
<div class="delivery pt-5 pb-5">
    <div class="container">
        <div class="boxDelivery d-flex justify-content-center align-items-center gap-5 p-5">
            <div class="imgDelivery ">
                <img src="~/ImagePage/PngItem_37779.png" asp-append-version="true"/>
            </div>
            <div class="infoDelivery">
                <h2>Get Free Delivery</h2>
                <p>
                    As well known and we are very busy all days beforeso we can guarantee your seat.
                </p>
            </div>
            <div class="BtnDelivery">
                <a href="#" class="btn Call">Call Now </a>
            </div>
        </div>
    </div>
</div>
@* end Delivery *@

@* start Schedule *@
<div class="Schedule pt-5 pb-5">
    <div class="container pt-5 pb-5">
        <div class="boxLatestInfo d-flex justify-content-center align-items-center flex-column mb-4">
            <span class="fw-bold">SCHEDULE</span>
            <h1 class="headerSection">
                Event Calender
            </h1>
            <p class="text-center ">You can provide us with your experience while using the site and tell us if you encounter problems during use. We care about all your comments</p>
        </div>
        <div class="ScheduleBox align-items-center flex-sm-column flex-md-column">
            <div class="Schedule1 d-flex justify-content-center gap-4 align-items-center flex-column">
                <span class="fw-bold DaysOfWeek"></span>
                <h1 class="DaysOfMonth "></h1>
            </div>
            <div class="Schedule2 text-center ">
                <span class="fw-bold MonthYear mb-3"></span>
                <div class="numberDay d-flex align-items-center flex-column">
                    <div class="groupDay">
                        <span class="grayColor">01</span>
                        <span class=" grayColor">02</span>
                        <span class=" grayColor">03</span>
                        <span class=" grayColor">04</span>
                        <span class=" grayColor">05</span>
                        <span class=" grayColor">06</span>
                        <span class=" grayColor">07</span>
                    </div>
                    <div class=" groupDay">
                        <span class=" grayColor">08</span>
                        <span class=" grayColor">09</span>
                        <span class=" ">10</span>
                        <span class="">11</span>
                        <span class="">12</span>
                        <span class="">13</span>
                        <span class="">14</span>
                    </div>
                    <div class=" groupDay">
                        <span class="">15</span>
                        <span class="">16</span>
                        <span class="">17</span>
                        <span class="">18</span>
                        <span class="">19</span>
                        <span class="">20</span>
                        <span class="">21</span>
                    </div>
                    <div class=" groupDay">
                        <span class="">22</span>
                        <span class="">23</span>
                        <span class="">24</span>
                        <span class="">25</span>
                        <span class="">26</span>
                        <span class="">27</span>
                        <span class="">28</span>
                    </div>
                    <div class=" groupDay">
                        <span class="">29</span>
                        <span class="">30</span>
                        <span class="">31</span>
                        <span class=""></span>
                        <span class=""></span>
                        <span class=""></span>
                        <span class=""></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* end Schedule *@

@* start Our Pricing*@
<div class="OurPricing pt-5 pb-5">
    <div class="container mt-5 mb-5">
        <div class="boxLatestInfo d-flex justify-content-center align-items-center flex-column mb-4">
            <span class="fw-bold">OUR PRICING</span>
            <h1 class="headerSection">
                Subscribe to our services
            </h1>
            <p class="text-center ">Subscribe to our services to enjoy many useful features and to receive all new updates</p>
        </div>
        <div class=" BoxOurPricing d-flex gap-5">
            <div class="BoxsOurPricing">
                <h2 class="text-center">Basic Plan</h2>
                <h4 class="text-center">$49<span>/Month</span></h4>
                <p class="text-center">Aliquam dui lacus, lobortis quis sapien non.</p>
                <div class="lines"></div>
                <div class="ServicesSections">
                    <p><span><i class="fa-solid fa-check"></i> </span>Online book sales and shipping</p>
                    <p><span><i class="fa-solid fa-check"></i> </span>Using Books 3 hours/Day</p>
                    <p><span><i class="fa-solid fa-check"></i> </span>Upload your 5 Books in Library </p>
                    <p><span><i class="fa-solid fa-check"></i> </span>Free Delivery</p>
                </div>
                <a href="#" class="btn OurPricingBtn">Start Now <i class="fa-solid fa-chevron-right"></i></a>
            </div>
            <div class=" BoxsOurPricing">
                <h2 class="text-center">Standard Plan</h2>
                <h4 class="text-center">$99<span>/Month</span></h4>
                <p class="text-center">Aliquam dui lacus, lobortis quis sapien non.</p>
                <div class="lines"></div>
                <div class=" ServicesSections">
                    <p><span><i class="fa-solid fa-check"></i> </span>Online book sales and shipping</p>
                    <p><span><i class="fa-solid fa-check"></i> </span>Using Books 10 hours/Day</p>
                    <p><span><i class="fa-solid fa-check"></i> </span>Upload your 10 Books in Library</p>
                    <p><span><i class="fa-solid fa-check"></i> </span>Schedule Time to Read</p>
                    <p><span><i class="fa-solid fa-check"></i> </span>Free Delivery</p>
                </div>
                <a href="#" class="btn OurPricingBtn">Start Now <i class="fa-solid fa-chevron-right"></i></a>
            </div>
            <div class="BoxsOurPricing">
                <h2 class="text-center">Premium Plan</h2>
                <h4 class="text-center">$199<span>/Month</span></h4>
                <p class="text-center">Aliquam dui lacus, lobortis quis sapien non.</p>
                <div class="lines"></div>
                <div class="ServicesSections">
                    <p><span><i class="fa-solid fa-check"></i> </span>Online book sales and shipping</p>
                    <p><span><i class="fa-solid fa-check"></i> </span>Using Books 15 hours/Day</p>
                    <p><span><i class="fa-solid fa-check"></i> </span>Upload your 15 Books in Library</p>
                    <p><span><i class="fa-solid fa-check"></i> </span>Schedule Time to Read</p>
                    <p><span><i class="fa-solid fa-check"></i> </span>Free Delivery</p>
                </div>
                <a href="#" class="btn OurPricingBtn">Start Now <i class="fa-solid fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
@* end Our Pricing*@

