@model ListOfBook

@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
    ViewBag.Title = "Store Grid";
}
@* start View Books *@
<div class="AllBooks pt-5 pb-5">
    <div class="container">
        <div class="books">
            <div class="row allB " id="splide1" role="group">
                <h1>@ViewBag.BooksKind</h1>
                @foreach (var book in Model.Books)
                    {
                    var imgs = "/ImageBook/" + (string.IsNullOrEmpty(book.photoPath) ? "images.png" : book.photoPath);
                    <div class="col-xl-2 p-0 card" style="width: 285px;">
                        <img src="@imgs" class="card-img-top" alt="..." asp-append-version="true" style="max-height: 283px; max-width: 283px">
                        <div class="card-body">
                            <h5 class="card-title">@book.Title</h5>
                            <div class="d-flex gap-3">
                                <p class="card-text text-muted">@book.author</p>
                                <p class="card-text text-muted">@book.KindOfBooks.ToString().Replace("_", " ")</p>
                            </div>
                            <p class="card-price">$@book.Price</p>
                            <div class="d-flex gap-3 storeBtn">
                                <a href="#" class="btn btn1 w-50">Learn More</a>
                                <a asp-controller="Account" asp-action="Cart" asp-route-BookId="@book.Id" asp-route-UserName="@User.Identity.Name"  class="btn btn2 w-50">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    }
            </div>

        </div>
    </div>
</div>
@* end View Books *@

